body {
  background: url("images/sky.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.container {
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 960px;
  padding: 5%;
  margin: auto;
}

nav {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #aaa;
}

nav a {
  margin: 0 5%;
  text-decoration: none;
  color: #643774;
}

section {
  position: relative;
  display: block;
  margin-top: 30px;
  margin-bottom: 40px;
}


.intro {
  overflow: hidden;
}

.intro img {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  color: #000;
}

a {
  color: #F56178;
  text-decoration: none;
}

strong {
  color: #643774;
}

p {
  font-size: 18px;
  line-height: 1.4;
  text-align: left;
  color: #000;
}

hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #aaa;
    margin:1em 0;
    padding:0;
}

.frame { overflow: hidden; width: 100%; height: 470px; margin-bottom: 20px; padding: 0; }
.frame .slidee { margin: 0; padding: 0; height: 100%; list-style: none; }
.frame .slidee li {
  overflow: hidden
  position: relative;
  float: left;
  width: 930px;
  height: 100%;
  margin: 0 5px 0 0;
  padding: 0;
  background-color: RGBA(100, 55, 116, .5);
  color: #ddd;
  text-align: center;
}


.header-image {
  float: left;
  margin-right: 30px;
  margin-left: 50px;
}

.icann-stewardship-info p {
  font-size: 16px;
}

#icann-stewardship-thumbnails {
  text-align: center;
}

#icann-stewardship-thumbnails a {
  margin-right:20px;
}

.more p {
  text-align: center;
}

.contact {
  text-align: center;
  font-size: 75px;
}

.contact a {
  margin-right: 50px;
}

.contact a:hover {
  color: #643774;
}

.scrollbar {
  margin: 0 0 1em 0;
  height: 2px;
  background: #ccc;
  line-height: 0;
}
.scrollbar .handle {
  width: 100px;
  height: 100%;
  background: #292a33;
  cursor: pointer;
}
.scrollbar .handle .mousearea {
  position: absolute;
  top: -9px;
  left: 0;
  width: 100%;
  height: 20px;
}

.forward, .backward {
  position: absolute;
  top: 50%;
  padding: 10px;
  font-size: 40px;
  cursor: pointer;
}

.forward {
  right: -40px;
}

.backward {
  left: -40px;
}
