html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Changa One", sans-serif;
  background: black;
  color: white;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.tilt {
  overflow: hidden;
}

.copy {
  padding: 0 60px 60px;
  font-family: "Helvetica", sans-serif;
  text-align: center;
}

.background {
  background: url(images/space.jpg) center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.text {
  font-size: 40vw;
  font-weight: 700;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  pointer-events: none;
  border: 60px solid black;
  background-image: linear-gradient(to right, #00dbde 30%, #fc00ff 80%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

