html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Changa One", sans-serif;
  background: black;
  color: white;
}



.copy {
  padding: 0 60px 60px;
  font-family: "Helvetica", sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

.background {
  display: none;
}

.text {
  font-size: 40vw;
  font-weight: 700;
  height: 100%;
  width: 100%;
  margin: 120px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #00dbde 30%, #fc00ff 80%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.contact {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  flex-direction: column;
  align-items: center;
}

.contact__link {
  font-size: 48px;
  color: white;
  text-decoration: none;
  margin: 30px ;
  transition: color .3s ease;
}

.contact__link:hover {
  color: #91019e;
  transition: color .5s ease;
  -webkit-animation: wiggle .5s;
  animation: wiggle .5s;
}

@media screen and (min-width: 400px) {

  .wrapper {
    height: 100%;
    width: 100%;
  }

  .tilt {
    overflow: hidden;
  }

  .text {
    position: absolute;
    top: 0;
    pointer-events: none;
    border: 60px solid black;
    background-image: linear-gradient(to right, #00dbde 30%, #fc00ff 80%);
    margin: 0;
  }

  .background {
    display: block;
    background: url(images/space.jpg) center;
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  .tilt {
    overflow: hidden;
  }

  .contact {
    flex-direction: row;
  }
  
  .contact__link {
    margin: 0 30px;
  }
}

@-webkit-keyframes wiggle {
  20% {-webkit-transform: rotate(10deg);}
  40% {-webkit-transform: rotate(-10deg);}
  60% {-webkit-transform: rotate(10deg);}
  80% {-webkit-transform: rotate(-10deg);}
}

@keyframes wiggle {
  20% {transform: rotate(10deg);}
  40% {transform: rotate(-10deg);}
  60% {transform: rotate(10deg);}
  80% {transform: rotate(-10deg);}
}
